<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/output.css">
    <title>Bookings</title>
</head>
<body>
     <%- include('../partials/navigation') %>
    <header class="flex justify-center">
      <h1 class="text-2xl font-bold m-4 text-red-500">Bookings</h1>
    </header>
</body>
</html>