<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Once you have added the middleware to make your folder containing the css files accessible, you can directly give the filename of your css file like below -->
    <!-- <link rel="stylesheet" href="home.css" /> -->
     <!-- when using tailwind css -->
    <link rel="stylesheet" href="/output.css" />
    <title>Home Page</title>
</head>
<body>
    <header>
 <h1 class="text-2xl font-bold text-orange-700"> Welcome to airbnb </h1>
</header>
<a href="/host/add-home"> Add Home</a>
   
</body>
</html>